body {
  background-color: #1e1f26;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.clock-holder {
  width: 70vh;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.stopwatch {
  padding: 60px 0px;
  text-align: center;
}

.stopwatch span {
  font-size: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: cadetblue;
  width: 70px;
  display: inline-block;
}

.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}

.stopwatch .stopwatch-btn-gre{
  border: 2px solid #00ABA9;
  color: #00ABA9;
}

.stopwatch .stopwatch-btn-red{
  border: 2px solid #C85454;
  color: #C85454;
}

.stopwatch .stopwatch-btn-yel{
  border: 2px solid #FFC900;
  color: #FFC900;
}

.stopwatch .stopwatch-btn-gre:hover {
  background: #00ABA9;
  border: 2px solid #00ABA9;
  color: #fff;
}

.stopwatch .stopwatch-btn-red:hover {
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
}

.stopwatch .stopwatch-btn-yel:hover {
  background: #FFC900;
  border: 2px solid #FFC900;
  color: #fff;
}

.count-container {
  color: black;
  display: block;
  float: none;
  position: static;
}

td {
  display: table-cell;
  float: none;
  position: static;
}